*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}
/*header styles*/
header {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    padding: 20px 35px;
    z-index: 9999;
}
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: ;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
}
header a {
    text-decoration: none;
    color: ;
}
header nav {
    margin: 8px 0;
}
header nav ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 2.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
header nav ul li a:hover {
    background: ;
    color: ;
    border-radius: 15px;
    text-shadow: none;
}

/*hero styles*/
.hero {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.hero-image {
    background-image: ;
    background-size: cover;
    background-position: center;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
}