:root {
    --primary-color: rgb(62, 114, 62);
    --secondary-color: rgb(79, 175, 231);
    --tertiary-color: rgb(182, 182, 21);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}
/*header styles*/
header {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    background-color: var(--secondary-color);
    padding: 20px 35px;
}
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--tertiary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
}
header a {
    text-decoration: none;
    color: var(--primary-color);
}
header nav {
    margin: 8px 0;
}
header nav ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.25vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

/*hero styles*/
.hero {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px;
}
.hero-image {
    background-image: url("../images/hero-form.jpg");
    background-size: cover;
    background-position: center;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
}

/*about me styles*/
.section-title {
    padding-bottom: 20px;
    text-align: left;
    margin: 0 auto 35px auto;
    width: 30%;
    font-size: 48px;
    color: var(--tertiary-color);
    background-color: var(--secondary-color);
    border-right: 3px solid;
}
.primary-border {
    border-color: var(--tertiary-color);
}
.about-me {
    display: flex;
    background-color: var(--primary-color)
}
.bio-text {
    text-align: left;
    line-height: 1.6;
    color: var(--tertiary-color);
    width: 80%;
    font-size: 16px;
    margin: 0 20px 0 60px;
}
.work {
    display: flex;
    background-color: var(--primary-color)
}
.all-projects {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    border-bottom: 1px;
    background-color: var(--primary-color);
    color: var(--tertiary-color)
}
.run-buddy {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 20px;
    background-image: ;
    width: 100%;
    flex-direction: column;
    background-image: ;
}
.project {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px auto;
    padding: 20px;
    flex-direction: column
}

/*footer styles*/
footer {
    display: flex;
    background-color: var(--primary-color);
}
.contact-info {
    display: flex;
    margin: 8px 0;
    color:var(--tertiary-color);
}
.contact-info ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
}
.contact-info ul li {
    padding: 10px 15px;
}

/*media queries*/
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }
    header h1 {
        width: 100%;
        text-align: center;
    }
    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    header nav ul a {
        font-size: 20px;
    }
    footer {
        text-align: center;
        width: 100%;
    }
    .hero {
        width: 100%;
        text-align: center;
    }
    .section-title {
        width: 60%;
    }
    .work {
        flex: 0 70%;
    }
}